interactions:
- request:
    body: act=szukaj&data_posiedzenia=2021-12-01&data_posiedzenia_do=&get_csv=1&guzik=Filtruj+%2F+Sortuj&sala_rozpraw=---&sortowanie=3&typ_posiedzenia=%27N%27%2C+%27J%27%2C+%27P%27&wydzial_orzeczniczy=---
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://bip.warszawa.wsa.gov.pl/183/elektroniczny-terminarz-rozpraw.html
  response:
    body:
      string: "\t\r\n\r\n\r\n<!DOCTYPE html>\r\n\t<html lang=\"pl\">\r\n\t\t<head>\r\n\t\t\t<title>Informacja
        o sprawach - Wojew\xF3dzki S\u0105d Administracyjny w Warszawie</title>\r\n\t\t\t<meta
        charset=\"utf-8\">\r\n            <meta name=\"deklaracja-dost\u0119pno\u015Bci\"
        content=\"https://bip.warszawa.wsa.gov.pl/934/deklaracja-dostepnosci.html\">\r\n\t\t\t<!--[if
        IE]><meta http-equiv='X-UA-Compatible' content='IE=edge'><![endif]-->\r\n\t\t\t<meta
        name=\"viewport\" content=\"width=device-width, initial-scale=1\">\t\r\n\t\t\t\r\n\t\t\t\r\n\t\t\t\r\n
        \           \r\n            \r\n\t\t\t<link rel=\"canonical\" href=\"http://bip.warszawa.wsa.gov.pl/183/informacja-o-sprawach.html\"
        />\r\n            <link rel=\"apple-touch-icon\" sizes=\"180x180\" href=\"/cms_wsawarszawa/image/default/favicon/apple-touch-icon.png\">\r\n
        \           <link rel=\"icon\" type=\"image/png\" sizes=\"32x32\" href=\"/cms_wsawarszawa/image/default/favicon/favicon-32x32.png\">\r\n
        \           <link rel=\"icon\" type=\"image/png\" sizes=\"16x16\" href=\"/cms_wsawarszawa/image/default/favic[...]
