{% extends 'letters/base.html' %}
{% load crispy_forms_tags staticfiles i18n %}

{% block extra_css %}
    {{ form.media.css }}
{% endblock %}

{% block javascript %}
    {{ block.super }}
    {{ form.media.js }}
    <script type="text/javascript">
        $(function () {
            $('form tbody tr').formset({
                'deleteText': '{% trans "remove"%}',
                'addText': '{% trans "add another"%}',
                prefix: 'attachment_set'
            });
        })
    </script>
{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="{% url 'cases:list' %}">{% trans 'Cases' %}</a></li>
        {% block breadcrumb_row %}{% endblock %}
    </ol>
{% endblock %}

{% block content %}
    {% block object %}<h1>{{ object }}</h1>{% endblock %}
    {% block description %}{% endblock %}
    {% if object %}
        <div class="panel-body msg_container_base row">
            {% include object.get_template_list with object=object %}
        </div>
    {% endif %}
    <form method="post" enctype="multipart/form-data" data-form-save="case-{{ object.pk }}">
        {% crispy form %}
        {% if formset %}
            {% crispy formset %}
        {% endif %}
    </form>
{% endblock %}
