{% extends 'letters/base.html' %}
{% load crispy_forms_tags staticfiles i18n %}

{% block extra_css %}
    {{ form.media.css }}
{% endblock %}

{% block javascript %}
    {{ block.super }}
    {{ form.media.js }}
    <script type="text/javascript">
        ;(function($) {
            $(function () {
                $('form tbody tr').formset({
                    'deleteText': '{% trans "remove"%}',
                    'addText': '{% trans "add another"%}',
                    prefix: 'attachment_set'
                });
            })
        })(jQuery);
    </script>
{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="{% url 'cases:list' %}">{% trans 'Cases' %}</a></li>
        {% block breadcrumb_row %}{% endblock %}
    </ol>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-1">
        {% block object %}<h1>{{ object }}</h1>{% endblock %}
        {% block description %}{% endblock %}
        {# Only run the preview for objects that are already in the DB #}
        {% if object and object.pk %}
            <div class="panel-body msg_container_base row">
                {% include object.get_template_list with object=object %}
            </div>
        {% endif %}
        <form method="post" enctype="multipart/form-data" data-form-save="case-{{ object.pk }}">
            {% crispy form %}
            {% if formset %}
                {% crispy formset %}
            {% endif %}
        </form>
    </div>
</div>
{% endblock %}
