{% load guardian_tags crispy_forms_tags humanize avatar_tags letter_tags i18n %}
<div class="timeline-messange">
    <a href="#"><img src="{% avatar_url object.created_by %}" class="timeline-avatar"></a> 
    {% if object.show_modifier %}<a href="#"><img src="{% avatar_url object.modified_by %}"></a>{% endif %}
    <div class="panel {{ object.created_by.is_staff|yesno:'panel-primary,panel-default' }}  timeline-comment">
        <div class="panel-heading"><i class="fa fa-envelope"></i> {{object}}</div>
        <div class="panel-body">
            <p>{{object.text|linebreaks}}</p>
            {% if object.signature %}
            <blockquote>{{object.signature | linebreaks}}</blockquote>
            {% endif %}
        </div>
        {% if object.attachment_set.all %}
        <ul class="list-group">
            {% for att in object.attachment_set.all %}
            <li class="list-group-item"><i class="{{ att.attachment.name | file2css }}"></i> <a href="{{att.attachment.url}}">{{att.filename}}</a></li>
            {% endfor%}
        </ul>
        {% endif %}
        <div class="panel-footer">
            <i class="fa fa-user"></i> {{object.created_by}} &bull;
            <i class="fa fa-clock-o"></i>
            <time datetime="{{object.created_on}}" title="{{object.created_on}}">{{object.created_on | naturaltime}}</time>
            {% if object.modified_by %}
            (updated on <time datetime="{{object.created_on}}" title="{{object.modified_on}}">{{object.modified_on | naturaltime}}</time> by {{object.modified_by}}){% endif %}
            {% if "can_change_all_record" in case_perms or requests.user == object.user and "can_change_own_record" in case_perms %} &bull; <i class="fa fa-pencil"></i> <a href="{{object.get_edit_url}}">{% trans 'Edit'%}</a>{% endif %}
            {% if "can_send_to_client" in case_perms and not object.is_done %} &bull; <i class="fa fa-check"></i> <a href="{{object.get_send_url}}">{% trans 'Send'%}</a>{% endif %}
        </div>
    </div>
</div>
