{% extends 'letters/base.html' %}
{% load crispy_forms_tags staticfiles i18n %}
{% block javascript %}
{{block.super}}
<script type="text/javascript" src="{% static 'js/jquery.formset.js' %}"></script>
<script type="text/javascript">
    $(function() {
        $('form tbody tr').formset();
    })
</script>
{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
  <li><a href="{% url 'cases:list'%}">{% trans 'Cases'%}</a></li>
  {% if case %}
  <li><a href="{{ case.get_absolute_url }}">{{ case }}</a></li>
  <li class="active">{% trans 'Edit'%}</li>
  {% endif %}
  {% if headline %}
    <li class="active">{{ headline }}</li>
  {% endif %}
</ol>
{% endblock %}

{%block content%}
{% block object %}<h1 class="row">{{object}}</h1>{% endblock %}

<form method="post" enctype="multipart/form-data">
{% crispy form %}
{% if formset %}
    {% crispy formset %}
{% endif %}
 <div class="form-actions">  
    <button type="submit" class="btn btn-primary">{% trans 'Save changes'%}</button>  
    <button class="btn">{% trans 'Cancel'%}</button>  
  </div>  
</form>
{%endblock%}
