{% extends 'letters/form.html' %}

{% block description%}
<p>Cieszymy się, że jesteś zainteresowany uzyskaniem pomocy prawnej od Poradnictwa Sieci Obywatelskiej - Watchdog Polska. Abyśmy mogli udzielić Ci pomocy wypełnij formularz przedstawiając dane kontaktowe oraz opis sprawy.</p>
<p>W poniższym formularzu przedstaw (w miarę możliwości):</p>
<ul>
<li>przebieg zdarzeń w postaci rozmów, wymiany pism itp. w sposób chronologiczny - od najstarszego zdarzenia do ostatniego,</li>
<li>swoją ocenę sytuacji - w jakim zakresie postępowanie instytucji odbiega od oczekiwanego przez Ciebie,</li> 
<li>pytania,
<li>kopie pism (e-maile, skany, czytelne zdjęcia).</li>
</ul>
{% endblock %}
