<script>
    $(document).ready(function () {
        $("#search").select2({
            ajax: {
                url: "{% url 'navsearch:navigation_autocomplete' %}",
                dataType: 'json',
                data: function (params) {
                    return {
                        search: params.term,
                        page: params.page
                    };
                }
            }
        }).on('select2:select', function (e) {
            window.location.href = e.target.value;
        });
    });
</script>
