{% load i18n %}
<div class="block-list">
    <div class="block-list-header">{% trans 'Files'%}</div>
    <ul class="block-list-list">
        <li class="block-list-item"><a href="{% url 'letters:add' %}"><i class="fa fa-pencil"></i> {% trans 'New case'%}</a></li>
        {% if request.user.is_authenticated %}
        <li class="block-list-item">
            <a href="{% url 'cases:list' %}"><i class="fa fa-book"></i> {% trans 'Cases index'%}</a>
        </li>
        {% endif%}
        {% if perms.cases.can_assign %}
        <li class="block-list-item">
            <a href="{% url 'cases:list' %}?status=free"><i class="fa fa-question-circle"></i> {% trans 'Free cases'%}</a>
        </li>
        {% endif%}
    </ul>
</div>
