{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans 'Cases'%} - {{ block.super }}{% endblock %}
{% block javascript %}
{{block.super}}
<script type="text/javascript">
    $(function(){
        var show = '<i class="fa fa-plus-square"></i> {%trans "Show quote" %}';
        var hide = '<i class="fa fa-minus-square"></i> {%trans "Hide quote" %}';
        $('blockquote').each(function(index, value){
            var el = $(value).hide();
            var new_el = $("<button class='btn quote-link'>" + show + "</a>");
            new_el.click(function(event){
                event.preventDefault();
                el.slideToggle();
                console.log(this.innerHTML);
                this.innerHTML = this.innerHTML == show ? hide : show;
            });
            el.before(new_el);
        });
    });
</script>
{% endblock %}
