{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans 'Cases' %} - {{ block.super }}{% endblock %}
{% block javascript %}
    {{ block.super }}
    <script type="text/javascript">
        ;(function($) {
            $(function () {
                var show = '<i class="fa-regular fa-square-plus"></i> {%trans "Show quote" %}';
                var hide = '<i class="fa-regular fa-square-minus"></i> {%trans "Hide quote" %}';
                $('blockquote').each(function (index, value) {
                    var el = $(value).hide();
                    var new_el = $("<button class='btn quote-link'>" + show + "</a>");
                    new_el.click(function (event) {
                        event.preventDefault();
                        el.slideToggle();
                        this.innerHTML = this.innerHTML == show ? hide : show;
                    });
                    el.before(new_el);
                });
            });
        })(jQuery);
    </script>
{% endblock %}
