{% extends 'cases/base.html' %}
{% load guardian_tags crispy_forms_tags staticfiles humanize i18n cases_tags %}
{% block title %}{{ object }} - {{ block.super }}{% endblock %}
{% block javascript %}
    {{ block.super }}
    {{ casegroup_form.media.js }}
    <script type="text/javascript">
        ;(function($) {
            $(function () {
                $('form tbody tr').formset({
                    addText: "{% trans 'add another'%}",
                    deleteText: "{% trans 'remove'%}",
                    prefix: 'attachment_set'
                });
            });
            $('#form-tab a').click(function (e) {
                e.preventDefault()
                $(this).tab('show')
            });
            $('#form-tab a:first').tab('show')
        })(jQuery);
    </script>
{% endblock %}

{% block extra_css %}
    {{ casegroup_form.media.css }}
{% endblock %}
{# {% block breadcrumbs %} #}
{#    <ol class="breadcrumb"> #}
{#        <li><a href="{% url 'cases:list' %}">{% trans 'Cases' %}</a></li> #}
{#        <li class="active">{{ object }}</li> #}
{#    </ol> #}
{# {% endblock %} #}

{% block content %}
    {% get_obj_perms request.user for object as "case_perms" %}
    <style>
        .permissions_help_icon {
            cursor: pointer;
        }
        
        .permissions_help .permissions_helptext {
          visibility: hidden;
          width: 280px;
          height: 500px;
          overflow-y: scroll;
          overflow-x: visible;
          background-color: #555;
          color: #fff;
          text-align: left;
          padding: 10px 10px;
          border-radius: 6px;
          position: absolute;
          z-index: 1;
          bottom: -350px; 
          left: 100px; 
          margin-left: -90px;
          opacity: 0;
          transition: opacity 0.3s;
          white-space: pre-line; /* This will preserve line breaks */
        }
        
        .fa-shield:active + .permissions_helptext {
          visibility: visible;
          opacity: 1;
        }

        #selected-files {
            border: 1px solid lightgray;
        }

        .sticky_right {
            padding-right: 0;
        }

        .sticky_left {
            padding-left: 0;
        }

        .clear-button {
            margin-top: -15px;
            margin-bottom: 20px;
            margin-left: 12px;
            display: none;
        }

        #div_id_file_field {
            margin-bottom: 5px;
        }

        #drop-zone {
            background-color: #f5f5f5;
        }

        </style>
    <div class="row">
        <div class="col-xs-12">
            <div class="case-header">
                <div class="case-header-actions">
                    {% if 'change_case' in case_perms %}
                        <a class="btn btn-primary" href="{{ object.get_edit_url }}"><i
                                class="fa fa-pencil-square-o"></i> {% trans 'Edit' %}</a>
                    {% endif %}
                    {% if 'can_close_case' in case_perms and object.status != object.STATUS.closed %}
                        <a class="btn btn-default" href="{{ object.get_close_url }}"><i
                                class="fa fa-close"></i> {% trans 'Close' %}</a>
                    {% endif %}
                    {% if 'delete_case' in case_perms and user.is_staff %}
                        <a class="btn btn-default" href="{% url 'admin:cases_case_delete' object_id=object.pk %}"><i
                                class="fa fa-trash"></i> {% trans 'Delete' %}</a>
                    {% endif %}
                    {% if 'can_merge_case' in case_perms %}
                        <a class="btn btn-default" href="{% url 'cases:merge' pk=object.pk %}"><i
                                class="fa fa-code-fork"></i> {% trans 'Merge' %}</a>
                    {% endif %}
                </div>
                <h1 class="case-header-title{% if user.is_staff and object.handled %} success{% endif %}">{{ object.name }}
                    <span class="case-header-number">#{{ object.pk }}</span></h1>
                <div class="case-header-meta">
                    {% if object.status_changed %}
                        <span class="label label-success"
                              title="Ostatnia zmiana stanu: {{ object.status_changed }} dni temu"> <i
                                class="{{ object.status|status2css }}"></i> {{ object.status_display }}</span>
                    {% else %}
                        <span class="label label-success" title="Ostatnia zmiana 7 dni temu"> <i
                                class="fa fa-folder-open-o"></i> {{ object.status }}</span>
                    {% endif %}
                    {% if request.user.is_staff and object.has_project %}
                        {% include 'cases/_project_badge.html' %}
                    {% endif %}
                    {% blocktrans with object.created_by.get_absolute_url as created_url and object.created_by as created_user and object.created_on|naturaltime as created_on and object.client.get_absolute_url as client_url and object.client as client_user %}
                        Created by <a href="{{ created_url }}">{{ created_user }}</a> on
                        {{ created_on }} for <a href="{{ client_url }}">{{ client_user }}</a>{% endblocktrans %}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6" style="height: 1000px; overflow-y: auto;">
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading"><i class="fa fa-newspaper-o"></i> {% trans 'Workflow' %}</div>
                        <table class="table">
                            <tr>
                                <td><i class="fa fa-user"></i> {% trans 'Involved in' %}</td>
                                <td>{% include 'cases/_involved_in.html' %}</td>
                            </tr>
                            {% if object.modified_by %}
                                <tr>
                                    <td>{% trans 'Last update' %}</td>
                                    <td>
                                        <a href="{{ object.modified_by.get_absolute_url }}">{{ object.modified_by }}</a>
                                        on {{ object.modified_on }}
                                    </td>
                                </tr>
                            {% endif %}
                            {% if object.deadline and request.user.is_staff %}
                                <tr>
                                    <td><i class="fa fa-fire"></i> {% trans 'Dead-line' %}</td>
                                    <td>
                                        {% blocktrans with object.deadline as deadline and object.deadline.time|naturaltime as naturaltime %}
                                            {{ deadline }} at {{ naturaltime }}{% endblocktrans %}</td>
                                </tr>
                            {% endif %}
                        </table>
                    </div>
                    {% if request.user.is_staff %}
                        <div class="panel panel-default">
                            <div class="panel-heading"><i class="fa fa-phone"></i> {% trans 'Metrical data' %}</div>
                            <table class="table">
                                <tr>
                                    <td><i class="fa fa-area-chart"></i> {% trans 'Advice tags' %}</td>
                                    <td>
                                        {% if object.advice %}
                                            <a href="{{ object.advice.get_absolute_url }}">{{ object.advice }}</a>
                                        {% else %}
                                            <a href="{% url 'advicer:create' %}?case={{ object.pk }}"><i
                                                    class="fa fa-pencil"></i> {% trans 'Create new advice tags' %}</a>
                                        {% endif %}
                                    </td>
                                </tr>
                            </table>
                        </div>
                    {% endif %}
                </div>

                {% if request.user.is_staff %}
                    <div class=" col-md-6">
                        {% if 'can_assign' in case_perms %}
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <i class="fa fa-users"></i> {% trans 'Assign permissions' %}
                                    <a class="btn btn-default btn-xs pull-right"
                                    href="{% url 'cases:permission_add' pk=object.pk %}">{% trans "..." %}</a>
                                </div>
                                <div class="panel-body">
                                    {% crispy casegroup_form %}
                                    <div class="permissions_help">
                                    <i class="fa fa-shield permissions_help_icon"> Uprawnienia w grupach</i>
                                        <span class="permissions_helptext">{{ permissions_help_text}}</span>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
            {% if record_list %}
                <div class="timeline">
                    {% for record in record_list %}
                        {% include record.content_object.get_template_list with object=record.content_object %}
                    {% endfor %}
                </div>
            {% else %}
                <span class="label label-warning">{% trans 'No records' %}</span>
            {% endif %}        
        
        </div>

        <div class="col-lg-6" >
            {% if 'can_add_record' in case_perms %}
                <div role="tabpanel" class="row" style="padding-left: 15px;">

                    <ul class="nav nav-tabs" role="tablist" id="form-tab">
                        {% for label, row in forms.items %}
                            <li role="presentation" 
                                {% if forloop.last %} class="active"{% endif %}>
                                <a href="#{{ label }}" aria-controls="{{ label }}"
                                    role="tab" data-toggle="tab">{{ row.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>

                    <div class="tab-content">
                        {% for key, row in forms.items %}
                            <div role="tabpanel" 
                                class="tab-pane {% if forloop.first %} active{% endif %}" id="{{ key }}"
                            >
                                <h2>{{ row.title }}</h2>
                                <form method="post" class="{{ row.form.helper.form_class }}" 
                                    enctype="multipart/form-data"
                                    action="{{ row.form.helper.form_action }}" 
                                    data-form-save="form-{{ key }}-{{ object.pk }}"
                                >
                                    {% crispy row.form %}
                                    {% if row.formset %}
                                        {% crispy row.formset %}
                                    {% endif %}
                                    {% if row.attachments_form %}
                                        <div class="row" id="drop-zone">
                                            <div class="col-lg-4 sticky_right">
                                                {% crispy row.attachments_form %}
                                                <button type="button" id="clear-files-button" 
                                                    class="clear-button">
                                                    &nbsp;&nbsp;{% trans 'Clear Files' %}&nbsp;&nbsp;
                                                </button>
                                            </div>
                                            <div class="col-lg-8 sticky_left">
                                                <table class="table table-striped table-condensed" 
                                                    id="selected-files"
                                                >
                                                    <thead id="files-table-head">
                                                        <tr>
                                                            <th style="font-size: 14px;">
                                                                <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="bottom"
                                                                    title="{% trans 'Select multiple files with ctr or shift.' %}">
                                                                </i>
                                                                {% trans 'Selected files:' %}
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    {% endif %}
                                </form>
                            </div>
                        {% endfor %}
                        <br>
                        <p>{% blocktrans with email=object.get_email %}The letter can also be sent via <a href="mailto:{{email}}">e-mail address</a>.{% endblocktrans %}</p>
                    </div>
                </div>
            {% endif %}            
        </div>
    </div>

    <script>
        $(document).ready(function () {
            var dropZone = $('#drop-zone');
            var clearButton = $('#clear-files-button');
            var fileInput = $('#id_file_field');
            var selectedFilesList = new DataTransfer();
            // Highlight drop zone when drag event occurs
            dropZone.on('dragover', function(e) {
                e.preventDefault();
                e.stopPropagation();
                $(this).css('background-color', 'lightgray');
            });
            dropZone.on('dragleave', function(e) {
                e.preventDefault();
                e.stopPropagation();
                $(this).css('background-color', '#f5f5f5');
            });
            // Attach an event listener to the file input change event
            fileInput.on('change', function (e) {
                handleNewFiles(e.target.files);
                if (selectedFilesList.files.length > 0) {
                    clearButton.show();
                } else {
                    clearButton.hide();
                }
            });
            // Handle the drop event
            dropZone.on('drop', function(e) {
                e.preventDefault();
                e.stopPropagation();
                $(this).css('background-color', '#f5f5f5');
                handleNewFiles(e.originalEvent.dataTransfer.files);
                clearButton.show();
            });
            // Use a button to clear files
            clearButton.on('click', function() {
                fileInput[0].files = new DataTransfer().files;
                selectedFilesList = new DataTransfer();
                updateTableWithFiles([]);
                clearButton.hide();
            });
            var labelHeight = $('#files-table-head').height();
            $('.control-label').height(labelHeight - 5);
            // Function to update the table with files
            function updateTableWithFiles(files) {
                var tableBody = $('#selected-files tbody');
                tableBody.empty();
                for (var i = 0; i < files.length; i++) {
                    var fileName = files[i].name;
                    var row = $('<tr class="dynamic-form"><td>' + fileName + '</td></tr>');
                    tableBody.append(row);
                }
            };
            function handleNewFiles(eventFiles) {
                let addedFiles = Array.from(eventFiles);
                let selectedFiles = Array.from(selectedFilesList.files);
                let newFiles = addedFiles.filter(addedFile => 
                    !selectedFiles.some(selectedFile => 
                        selectedFile.name === addedFile.name && 
                        selectedFile.size === addedFile.size && 
                        selectedFile.lastModified === addedFile.lastModified
                    )
                );
                newFiles.forEach(file => {
                    selectedFilesList.items.add(file);
                });
                
                updateTableWithFiles(selectedFilesList.files);
                fileInput[0].files = selectedFilesList.files;
            };
        });
    </script>


    {% include 'cases/_case_pager.html' %}
{% endblock %}
