{% extends "cases/base.html" %}
{% load crispy_forms_tags i18n %}

{% block title %}{{ object }} - {{ block.super }}{% endblock %}
{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="{% url 'cases:list' %}">{% trans 'Cases' %}</a></li>
        <li><a href="{{ object.get_absolute_url }}">{{ object }}</a></li>
        <li class="active">{% trans 'Close' %}</li>
    </ol>
{% endblock %}
{% block content %}
    <h1>{% block header %}{{ object }}{% endblock %}</h1>
    <p>&nbsp;</p>
    <p>
        Sprawa zostanie zamknięta na tym etapie. Jeśli użytkownik napisze maila, <br>
        to automatycznie otworzy sprawę i temat będzie kontynuowany.
    </p>
    <p>&nbsp;</p>
    {% csrf_token %}
    {% crispy form %}
{% endblock %}
