{% extends "cases/base.html" %}
{% load crispy_forms_tags staticfiles %}

{% block title %}Case: {{ object }} - {{block.super}}{% endblock %}

{% block breadcrumbs%}
<ol class="breadcrumb">
  <li><a href="{% url 'cases:list'%}">Cases</a></li>
  <li><a href="{{object.get_absolute_url}}">{{object}}</a></li>
  <li class="active">Permission</li>
</ol>
{% endblock %}

{% block extra_css %}
<link href="{% static 'cases/lou-multiselect/css/multi-select.css' %}" media="screen" rel="stylesheet" type="text/css">
{% endblock %}
{% block javascript %}
{{block.super}}
    <script src="{% static 'cases/lou-multiselect/js/jquery.multi-select.js'%}" type="text/javascript"></script>
    <script>$('select').multiSelect();</script>
{% endblock %}
{% block content %}

<div class="container">
<h1>{% block header %}Case: {{ object }}{% endblock %}</h1>
<div class="row">
    <div class="col-lg-6">
        <form class="form-horizontal" method="post" action="{{object.get_permission_url}}">
        {% for user, form in form.items %}
            <div class="row">
            <h2>{{user}}</h2>
            <div class="col-lg-12">
                {% csrf_token %}
                {{ form|crispy }}
            </div>
            </div>
        {% endfor %}
        <div class="control-group row">
          <div class="controls">
            <button type="submit" class="btn">Update</button>
          </div>
        </div>
        </form>
    </div>
    <div class="col-lg-6">
    <h2>Add new user</h2>
        <form class="form-horizontal" method="post" action="{{object.get_permission_url}}">
        {{add_form|crispy}}{% csrf_token %}
        <div class="controls">
            <button type="submit" class="btn">Update</button>
        </div>
        </form>
    </div>
</div>
</div>
{% endblock %}
