{% extends "base.html" %}
{% load static %}
{# {% load bootstrap4 %} #}
{% load i18n cases_tags %}


{% block content %}

<style>
    input[type=search] {
        width: 400px; /* set the desired min-width value */
    }
    input[type=text] {
        width: 10px; /* set the desired min-width value */
    }
</style>

<h3>{% trans 'Case Table' %}:</h3>

<div id="modal-popup" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="width:1000px;" ></div>
    </div>
</div>

<div id="tableWrapper">
    <!-- TODO add colvis button and functionality -->
    <div class="col-sm-1 filters">
        <br><br><br><br>
        <h4>{% trans 'Filters' %}:</h4><br>
        <div class="row">
            <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="bottom"
                title='{% trans 'Cases have status changed by staff.' %}'>
            </i>
            <label>{% trans 'Status (col. "S")' %}:</label><br>
            {% for status in statuses %}
              <input type="checkbox" id="status_{{ status.0|status_name }}" name="check_status_{{ status.0|status_name }}"
                {% if status.0|status_name != 'closed' %}checked{% endif %}>
              <label for="status_{{ status.0|status_name }}" class="small">{{ status.0|status2display }}</label> &nbsp;
              <i class="{{ status.0|status2css }}"></i>
              <br>
            {% endfor %}
            <br><br>
          </div>
        <div class="row">
            <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="bottom"
                title="{% trans 'Cases that do have letter with status done (case subject not in bold).' %}">
            </i>
            <label>{% trans 'Handled' %}:</label><br>
            <input type="checkbox" id="handled_yes" name="check_handled_yes" checked>
            <label for="handled_yes" class="small">{% trans 'Yes' %}</label><br>
            <input type="checkbox" id="handled_no" name="check_handled_no" checked>
            <label for="handled_no" class="small">{% trans 'No' %}</label><br>
            <br><br>
        </div>
        <div class="row">
            <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="bottom"
                title="{% trans 'Cases that have project letter.' %}">
            </i>
            <label>{% trans 'Has project' %}:</label><br>
            <input type="checkbox" id="has_project_yes" name="check_has_project_yes" checked>
            <label for="has_project_yes" class="small">{% trans 'Yes' %}</label><br>
            <input type="checkbox" id="has_project_no" name="check_has_project_no" checked>
            <label for="has_project_no" class="small">{% trans 'No' %}</label><br>
            <br><br>
        </div>
        <div class="row">
            <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="bottom"
                title="{% trans 'Cases that have event with deadline.' %}">
            </i>
            <label>{% trans 'Has deadline' %}:</label><br>
            <input type="checkbox" id="has_deadline_yes" name="check_has_deadline_yes" checked>
            <label for="has_deadline_yes" class="small">{% trans 'Yes' %}</label><br>
            <input type="checkbox" id="has_deadline_no" name="check_has_deadline_no" checked>
            <label for="has_deadline_no" class="small">{% trans 'No' %}</label><br>
            <br><br>
        </div>
    </div>
    <div class="table-responsive">
        <table id="datatable_cases" width="100%" class="table table-bordered compact">
            <!-- table-striped  nowrap-->
        </table>
    </div>
</div>

{% endblock %}
