{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Cases - {{block.super}}{% endblock %}

{% block content %}
<table class="table table-striped">
<thead><tr>
  <th>Name</th>
  <th>Client</th>
  <th>Status</th>
</tr></thead>
<tbody>
{% for object in object_list %}
<tr>
  <td><a href="{{object.get_absolute_url}}">{{object.name}}</a></td>
  <td>{{object.client}}</td>
  <td>{{object.status}}</td>
  <td>{% include '_simple_list.html' with title="Lawyers" object_list=object.get_lawyers %}</td>
</tr>
{% endfor %}
</tbody>
</table>

{% endblock %}
