{% extends "cases/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Case: {{ object }} - {{block.super}}{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1>{% block header %}Case: {{ object }}{% endblock %}</h1>
            <form class="form-horizontal" method="post" action="{{ object.get_edit_url}}">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="control-group">
                  <div class="controls">
                    <button type="submit" class="btn">Update</button>
                  </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
