{% extends "cases/base.html" %}
{% load crispy_forms_tags staticfiles i18n %}

{% block title %}{{ object }} - {{block.super}}{% endblock %}

{% block breadcrumbs%}
<ol class="breadcrumb">
  <li><a href="{% url 'cases:list'%}">{% trans 'Cases'%}</a></li>
  <li><a href="{{object.get_absolute_url}}">{{object}}</a></li>
  <li class="active">{% trans 'Permission'%}</li>
</ol>
{% endblock %}

{% block extra_css %}
<link href="{% static 'cases/lou-multiselect/css/multi-select.css' %}" media="screen" rel="stylesheet" type="text/css">
{% endblock %}
{% block javascript %}
{{block.super}}
    <script src="{% static 'cases/lou-multiselect/js/jquery.multi-select.js'%}" type="text/javascript"></script>
    <script>$('select').multiSelect();</script>
{% endblock %}
{% block content %}

<div class="row">
  <div class="col-xs-18">
    <div class="pull-left"><h1>{{object}}</h1></div>
    <div class="pull-right">
    <div class="btn-group">
      {% if staff_only %}
      <a class="btn btn-primary" href="{% url 'cases:permission_all' pk=object.pk %}"><span class="glyphicon glyphicon-edit"></span> {% trans 'All users'%}</a>
      {% else %}
      <a class="btn btn-primary" href="{% url 'cases:permission' pk=object.pk %}"><span class="glyphicon glyphicon-edit"></span> {% trans 'Select staff only'%}</a>
      {% endif %}
    </div>
    </div>
  </div>
</div>
<div class="row">
    <div class="col-lg-6">
    <h2>{% trans 'Update users' %}</h2>
        <form class="form-horizontal" method="post" action="">
        {% for user, form in form.items %}
            <div class="row">
            <h3>{{user}}</h3>
            <div class="col-lg-12">
                {% csrf_token %}
                {{ form|crispy }}
            </div>
            </div>
        {% endfor %}
        <div class="control-group row">
          <div class="controls">
            <button type="submit" class="btn btn-primary">{% trans 'Update'%}</button>
          </div>
        </div>
        </form>
    </div>
    <div class="col-lg-6">
    <h2>{% trans 'Add new user'%}</h2>
        <form class="form-horizontal" method="post" action="">
        {{add_form|crispy}}{% csrf_token %}
        <div class="controls">
            <button type="submit" class="btn btn-primary">{% trans 'Update'%}</button>
        </div>
        </form>
    </div>
</div>

{% endblock %}
