{% extends "cases/base.html" %}
{% load crispy_forms_tags humanize i18n cases_tags %}

{% block extra_css %}
<style>
  span.free, tr.free > td, td.free {
    background-color: #38FF98;
  }
  span.open, tr.open > td, td.open {
    background-color: #A3FFD0;
  }
  span.closed, tr.closed > td, td.closed {
    background-color: #DEFFEE;
  }
</style>
{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
  <li class="active">{% trans 'Cases index' %}</li>
</ol>
{% endblock %}

{% block content %}

{% crispy filter.form %}

{% if object_list %}
<table class="table  table-striped table-cases table-condensed">
  <thead><tr>
    <th class="id">{% trans 'ID' %}</th>
    <th class="client">{% trans 'Client' %}</th>
    <th class="subject">{% trans 'Subject' %} {% if user.is_staff %}[{% trans 'Dead-line'%}] {% endif %}</th>
    <th class="last_response">{% trans 'Last response' %}</th>
    {% if user.is_staff %}
      <th class="last_action">{% trans 'Last action' %}</th>
      <th class="created_on">{% trans 'Created on' %}</th>
    {% endif %}
    {# <th>All readed?</th> #}
  </tr></thead>
  <tbody>
    {% for object in object_list %}
    <tr>
      <td class="id">{{ object.pk }}</td>
      <td class="client"><a href="{{ object.client.get_absolute_url }}">{{ object.client }}</a></td>
      <td class="subject">
        <span class="{{object.status|status2css}}">
        {% if request.user.is_staff and not object.handled %}<b>{% endif %}
        <a href="{{ object.get_absolute_url }}">{{ object.name }}</a>
        {% if request.user.is_staff and not object.handled %}</b>{% endif %}
        ({{ object.letter_count }})
        {% if request.user.is_staff and object.deadline.time %}<span class="label label-warning"><i class="fa fa-fire"></i> {{ object.deadline.time }}</span>{% endif%}
      </td>
      <td class="last_response">{% if object.last_send %}{{ object.last_send|naturaltime }}{% else %}{% trans 'No answer' %}{% endif %}</td>
      {% if request.user.is_staff %}
        {% ifequal object.last_action object.created_on %}
            <td colspan="2">{{ object.last_action|naturaltime }}</td>
        {% else %}
        <td class="last_action">{{ object.last_action|naturaltime }}</td>
        <td class="created_on">{{object.created_on|naturaltime}}</td>
        {% endifequal %}
      {% endif %}
      {# <td>{{ object.get_readed }}</td> #}

    </tr>
    {% endfor %}
  </tbody>
</table>
<p>{% trans 'Legend of status' %} <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="bottom" title='{% trans 'Cases have status changed by staff.'%}'></i>: {% for status in statuses %}<span class="label label-success"><i class="{{status.0|status2css}}"></i> {{status.0|status2display}}</span> {% endfor %}
{% include 'pagination_custom/pager.html' with page=page_obj %}
{% else %}
<p>{% trans 'There is no cases.' %}<a href="{% url 'letters:add' %}">{% trans 'Do more of these!' %}</a></p>
{% endif %}

{% endblock %}
