{% extends 'keys/base.html' %}
{% load i18n humanize %}

{% block breadcrumbs_rows %}
<li class="active">{% trans 'Keys index' %}</li>
{% endblock %}

{% block content %}
<a href="{% url 'create'%}">{% trans 'Generate new key' %}</a>
<table class="table table-stripped">
    <tr>
        <th>{% trans 'Description'%}</th>
        <th>{% trans 'Created on'%}</th>
        <th>{% trans 'Downloaded on'%}</th>
        <th>{% trans 'Used on'%}</th>
        <th>{% trans 'Actions'%}</th>
    </tr>
    {% for object in object_list %}
    <tr>
        <td>{{object.description}}</td>
        <td>{{object.created_on|naturaltime}}</td>
        <td>{{object.download_on|naturaltime}}</td>
        <td>{{object.used_on|naturaltime}}</td>
        <td>[<a href="{% url 'details' pk=object.pk %}">{% trans 'Download'%}</a>][<a href="{% url 'delete' pk=object.pk %}">{% trans 'Delete'%}</a>]</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
