<p>Szanowny/-a {{ user }}!</p>

<p>Informujemy, że do Twojego konta w serwisie poradnictwa Stowarzyszenia Sieć Obywatelska - Watchdog Polska zostało połączone konto zewnętrzne ({{ provider }}). Od teraz możesz logować się za jego pomocą.</p>

<p>Jeśli to nie Ty dokonałeś/-aś tej zmiany, skontaktuj się z nami niezwłocznie - Twoje konto mogło zostać przejęte.</p>

<p>Zmiana została dokonana z:</p>
<ul>
<li>adres IP: {{ ip }}</li>
<li>przeglądarka: {{ user_agent }}</li>
<li>data: {{ timestamp }}</li>
</ul>

<p>
Z wyrazami szacunku,<br>
Sieć Obywatelska - Watchdog Polska<br>
</p>
