{% load i18n %}
{% if request.user.is_authenticated and request.user.is_staff %}
    <div class="block-list">
        <div class="block-list-header">{% trans 'Register' %}</div>
        <ul class="block-list-list">
            <li class="block-list-item">
                <a href="{% url 'advicer:list' %}?page=1"><i class="fa fa-area-chart"></i> {% trans 'Advice list' %}
                </a>
            </li>
            <li class="block-list-item">
                <a href="{% url 'advicer:table' %}"><i
                        class="fa fa-book"></i> {% trans 'Adevice table' %}</a>
            </li>
        </ul>
    </div>
{% endif %}
