{% extends 'advicer/base.html' %}
{% load i18n humanize users_tags %}
{% block title %}{{ object }} - {{ block.super }}{% endblock %}
{% block breadcrumbs_rows %}
    <li class="active">{{ object }}</a>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <h1 class="pull-left">{{ object }}</h1>
            <div class="btn-group pull-right">
                <a href="{% url 'advicer:update' pk=object.pk %}" class="btn btn-primary">
                    <i class="fas fa-pencil"></i> {% trans 'Edit' %}
                </a>
                <a href="{% url 'advicer:delete' pk=object.pk %}" class="btn btn-danger">
                    <i class="fas fa-trash-can"></i> {% trans 'Delete' %}
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">{% trans 'Statistic data' %}</div>
                <table class="table">

                    <tr>
                        <td>{% trans 'Case' %}</td>
                        <td>
                        {% if object.case %}
                            <a href="{{ object.case.get_absolute_url }}">{{ object.case }}</a>
                        {% endif %}
                        </td>
                    </tr>

                    <tr>
                        <td>{% trans 'Issues' %}</td>
                        <td>
                        {% if object.issues.all %}
                            {% for obj in object.issues.all %}
                                {{ obj }}{% if not forloop.last %}<br>{% endif %}
                            {% endfor %}
                        {% endif %}
                        </td>
                    </tr>

                    <tr>
                        <td>{% trans 'Area' %}</td>
                        <td>
                            {% if object.area.all %}
                                {% for obj in object.area.all %}
                                    {{ obj }}{% if not forloop.last %}<br>{% endif %}
                                {% endfor %}
                            {% endif %}
                        </td>
                    </tr>

                    <tr>
                        <td>{% trans 'Kind of person' %}</td>
                        <td>
                            {{ object.person_kind | default:"---" }}
                        </td>
                    </tr>

                    <tr>
                        <td>{% trans 'Kind of istitution' %}</td>
                        <td>{{ object.institution_kind | default:"---" }}</td>
                    </tr>

                    <tr>
                        <td>{% trans 'Unit of administrative division' %}</td>
                        <td>{{ object.jst | default:"---" }}</td>
                    </tr>

                    <tr>
                        <td>{% trans 'Comment' %}</td>
                        <td>{{ object.comment | linebreaks }}</td>
                    </tr>

                    <tr>
                        <td>{% trans 'We helped?' %}</td>
                        <td>{{ object.helped|yesno:_("Yes,No") }}</td>
                    </tr>

                </table>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">{% trans 'Details' %}</div>
                <table class="table">
                        <tr>
                            <td>{% trans 'Grant on' %}</td>
                            <td>
                            {% if object.grant_on %}
                                <time datetime="{{ object.grant_on|date:'Y-m-d h:m:sT' }}">{{ object.grant_on |naturaltime }}</time>
                            {% endif %}
                            </td>
                        </tr>
                    <tr>
                        <td>{% trans 'Created' %}</td>
                        <td><img src="{% get_avatar_url object.created_by %}">
                            {% blocktrans with object.created_by as created and object.created_on|naturaltime as created_on_natural and object.created_on|date:'Y-m-d h:m:sT' as created_on_date %}
                                {{ created }} on
                                <time datetime="{{ created_on_date }}">{{ created_on_natural }}</time>{% endblocktrans %}
                        </td>
                    </tr>

                        <tr>
                            <td>{% trans 'Modified' %}</td>
                            <td>
                            {% if object.modified_by %}
                                <img
                                    src="{% get_avatar_url object.modified_by %}">{% blocktrans with object.modified_by as modified_by and object.modified_on|naturaltime as modified_on_natural and object.modified_on|date:'Y-m-d h:m:sT' as modified_on_date %}
                                {{ modified_by }} on
                                <time datetime="{{ modified_on_date }}">{{ modified_on_natural }}</time>{% endblocktrans %}
                            {% endif %}
                            </td>
                        </tr>
                    <tr>
                        <td>{% trans 'Advicer' %}</td>
                        <td>{{ object.advicer }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        {% if object.attachment_set.all %}
            <h2>{% trans 'Attachments' %}</h2>
            <ul>
                {% for object in object.attachment_set.all %}
                    <li><a href="{{ object.get_absolute_url }}">{{ object }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}
