{% extends 'advicer/advice_form.html' %}
{% load i18n %}
{% block breadcrumbs_rows %}
    <li><a href="{{ object.get_absolute_url }}">{{ object }}</a></li>
    <li class="active">{% trans 'Confirm delete' %}</li>
{% endblock %}
{% block form %}
    <form method="post">
        <div class="form-actions">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">
                <i class="fas fa-trash-can"></i>{% blocktrans %}Delete{{ object }}{% endblocktrans %}
            </button>
            <button class="btn" href="{{ object.get_absolute_url }}">{% trans 'Cancel' %}</button>
        </div>
    </form>
{% endblock %}
