{% load cases_tags %}<p>Szanowny/-a {{ user }}!</p>

<p>Ten adres e-mail został powiązany z nowym zgłoszeniem w serwisie poradnictwa Stowarzyszenia Sieć Obywatelska - Watchdog Polska. Zgłoszenie zostanie zarejestrowane dopiero po potwierdzeniu adresu e-mail.</p>

<p>Aby potwierdzić adres e-mail, ustawić hasło i zobaczyć szczegóły zgłoszenia, kliknij w poniższy link: <a href="{% full_link activation_path %}">{% full_link activation_path %}</a></p>

<p>Jeśli to nie Ty zgłaszałeś/-aś sprawę, zignoruj tę wiadomość - konto i zgłoszenie pozostaną nieaktywne.</p>

<p>
Z wyrazami szacunku,<br>
Sieć Obywatelska - Watchdog Polska<br>
</p>
