{% extends "avatar/base.html" %}
{% load i18n avatar_tags crispy_forms_tags %}

{% block breadcrumbs_row %}
<li class="active">{% trans 'Change' %}</li>
{% endblock %}
{% block content %}
  <div class="row">
    <div class="col-md-6">
        <h2>{% trans "Your current avatar: " %}</h2>
        {% avatar user %}
        <h2>{% trans "Avatar choices: " %}</h2>
        {% if not avatars %}
            <p>{% trans "You haven't uploaded an avatar yet. Please upload one now." %}</p>
        {% else %}
            <form method="POST" action="{% url 'avatar_change' %}">
            {{primary_avatar_form|crispy}}
            {% csrf_token %}
            <p>{% csrf_token %}<input type="submit" class="btn btn-primary" value="{% trans "Choose avatar" %}" /></p>
            </form>
        {% endif %}
    </div>
    <div class="col-md-6">
        <h2>{% trans "Upload a new avatar" %}</h2>
        <form enctype="multipart/form-data" method="POST" action="{% url 'avatar_add' %}">
            {{ upload_avatar_form|crispy}}
            <p>{% csrf_token %}<input type="submit" class="btn btn-prmiary" value="{% trans "Upload New Image" %}" /></p>
        </form>
    </div>
  </div>
{% endblock %}
