{% extends 'base.html' %}
{% load staticfiles i18n %}
{% block title %}{% trans 'Case status stats' %} - {{block.super}}{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
  <li><a href="{% url 'cases:list'%}">{% trans 'Stats'%}</a></li>
  <li class="active">{% trans 'Case status stats' %}</li>
</ol>
{% endblock %}

{%block content%}
<svg class="chart"></svg>
{%endblock%}

{% block javascript %}
{{block.super}}
<script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="{% static 'stats/chart.js' %}" charset="utf-8"></script>
<script>
$(function() {
d3.json("/statystyki/api/sprawy/", status_chart);
});
</script>
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'stats/style.css'%}">
{% endblock %}
