{% extends 'base.html' %}
{% load staticfiles i18n %}
{% block title %}{% trans 'Stats' %} - {{block.super}}{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
  <li class="active">{% trans 'Stats'%}</li>
</ol>
{% endblock %}

{% block content %}
{% trans 'Stats'%}:
<ul>
    {% if user.is_superuser %}
    <li><a href="{% url 'stats:case_stats_created' %}">{% trans 'Case by status' %}</a></li>
    <li><a href="{% url 'stats:case_stats_reaction' %}">{% trans 'Case reaction time' %}</a></li>
    <li><a href="{% url 'stats:case_stats_unanswered' %}">{% trans 'Unanswered cases' %}</a></li>
    {% endif %}
</ul>
{%endblock%}
