{% extends 'base.html' %}
{% load staticfiles i18n %}
{% block title %}{% trans 'Stats' %} - {{ block.super }}{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="active">{% trans 'Stats' %}</li>
    </ol>
{% endblock %}

{% block content %}
    {% if user.is_superuser %}
        {% trans 'Real-time' %}:
        <ul>
            <li><a href="{% url 'stats:case_created' %}">{% trans 'Cases created' %}</a></li>
            <li><a href="{% url 'stats:case_reaction' %}">{% trans 'Cases reaction time' %}</a></li>
            <li><a href="{% url 'stats:case_unanswered' %}">{% trans 'Cases unanswered' %}</a></li>
            <li><a href="{% url 'stats:letter_created' %}">{% trans 'Letters created' %}</a></li>
            <li><a href="{% url 'stats:user_registered' %}">{% trans 'Users registered' %}</a></li>
        </ul>
    {% endif %}
    {% if item_list %}
        {% trans 'Items' %}:
        <ul>
            {% for object in item_list %}
                <li><a href="{{ object.get_absolute_url }}">{{ object }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if graph_list %}
        {% trans 'Graphs' %}:
        <ul>
            {% for object in graph_list %}
                <li><a href="{{ object.get_absolute_url }}">{{ object }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
