{% extends 'base.html' %}
{% load staticfiles i18n stats_tags %}
{% block title %}{{ item }} - {{ block.super }}{% endblock %}

{% block javascript %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var chart = new Chart(ctx, {
            // The type of chart we want to create
            type: 'line',

            // The data for our dataset
            data: {
                labels: [{{ value_list | join_attr:"time" }}],
                datasets: [{
                    label: "{{ item }}",
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    data: [{{ value_list | join_attr:"value" }}]
                }]
            },

            // Configuration options go here
            options: {}
        });
    </script>
{% endblock %}
{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="{% url 'stats:index' %}">{% trans 'Stats' %}</a></li>
        <li class="active">{{ item }}</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="pull-left">
            <h1>{{ item }}</h1>
        </div>
        <div class="pull-right">
            <a href="{% url 'stats:item_detail_csv' key=item.key month=today.month year=today.year %}"
               class="btn btn-success"><i class="fa fa-download"></i> {% trans 'CSV' %}</a>
        </div>
    </div>
    {{ item.description }}
    <canvas id="myChart"></canvas>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>{% trans 'Time' %}</th>
            <th>{% trans 'Value' %}</th>
        </tr>
        </thead>
        <tbody>
        {% for object in value_list %}
            <tr>
                <td>{{ object.time }}</td>
                <td>{{ object.value }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
