{% extends 'tasty_feedback/base.html' %}
{% load humanize i18n crispy_forms_tags bootstrap_pagination %}
{% block breadcrumbs_rows %}
<li class="active">{% trans 'Feedback index'%}</li>
{% endblock %}
{% block feedback_content %}
<h1>{% trans 'Record feedbacks' %}</h1>

{% crispy filter.form %}

{% if object_list %}
<div class="row">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>{% trans 'Created date' %}</th>
                <th>{% trans 'Author' %}</th>
                <th>{% trans 'Text' %}</th>
                <th>{% trans 'Status' %}</th>
                {% block extra_header %}{% endblock %}
            </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
            <tr>
                <td><a href="{{object.get_absolute_url}}">{{ object.created }}</a></td>
                <td>{{ object.user }}</td>
                <td>{{ object.text | linebreaks }}</td>
                <td>{{ object.get_status_display }}</td>
                {% block extra_row %}{% endblock %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="text-center">{% bootstrap_paginate page_obj %}</div>
</div>
{% else %}
<p>{% trans 'There is no any feedbacks.' %}</p>
{% endif %}
{% endblock %}
