{% load i18n %}
<!-- Modal -->
<div class="modal fade" id="navsearch_modal" tabindex="-1" role="dialog" aria-labelledby="navsearch_modal_label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="navsearch_modal_label">{% trans 'Search' %}</h4>
      </div>
      <div class="modal-body">
        {% include 'navsearch/input.html' %}
      </div>
      {% comment %}
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
      {% endcomment %}
    </div>
  </div>
</div>
