{% load i18n querystring_tags poradnia_tags %}
{% if page_obj.paginator.num_pages > 1 %}
    <ul class="pagination">
        {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?{% query_update page=1 %}" aria-label="{% trans 'First' %}">&laquo;</a></li>
            <li class="page-item"><a class="page-link" href="?{% query_update page=page_obj.previous_page_number %}" aria-label="{% trans 'Previous' %}">&lsaquo;</a></li>
        {% else %}
            <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
            <li class="page-item disabled"><span class="page-link">&lsaquo;</span></li>
        {% endif %}
        {% for i in page_obj|elided_page_range %}
            {% if i == page_obj.paginator.ELLIPSIS %}
                <li class="page-item disabled"><span class="page-link">{{ i }}</span></li>
            {% elif i == page_obj.number %}
                <li class="page-item active"><span class="page-link">{{ i }}</span></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="?{% query_update page=i %}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?{% query_update page=page_obj.next_page_number %}" aria-label="{% trans 'Next' %}">&rsaquo;</a></li>
            <li class="page-item"><a class="page-link" href="?{% query_update page=page_obj.paginator.num_pages %}" aria-label="{% trans 'Last' %}">&raquo;</a></li>
        {% else %}
            <li class="page-item disabled"><span class="page-link">&rsaquo;</span></li>
            <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
        {% endif %}
    </ul>
{% endif %}
