{%load i18n%}
<div class="sidebar-header">
	<a href="#">
		<div class="logo"></div>
		<p>Poradnia</p>
	</a>
</div>
<div class="stats">
	<ul>
		{# 		{% notifications_unread as unread_count%} #}
		{% url 'notifications:all' as notification_all_url %}
		<li><a href="{{notification_all_url}}"><div class="icon"><i class="fa fa-trophy"></i></div><div class="text">{{unread_count}}</div></a></li>
		<li><a href=""><div class="icon"><i class="fa fa-envelope"></i></div><div class="text">2</div></a></li>
	</ul>
</div>
<div class="block-list">
	<ul class="block-list-list">
		<li class="block-list-item">
			<a href="/"><i class="glyphicon glyphicon-home"></i> Home</a>
		</li>
	</ul>
</div>
<div class="block-list">
	<div class="block-list-header">{% trans 'User'%}</div>
	<ul class="block-list-list">
		{% if request.user.is_authenticated %}
			<li class="block-list-item">
				<a href="{% url 'users:list' %}"><i class="glyphicon glyphicon-log-out"></i> {% trans "Users list" %}</a>
			</li>
			<li class="block-list-item">
				<a href="{% url 'account_logout' %}"><i class="glyphicon glyphicon-log-out"></i> {% trans "Logout" %}</a>
			</li>
		{% else %}
		    <li class="block-list-item">
		    	<a href="{% url 'account_signup' %}"><i class="glyphicon glyphicon-user"></i> {% trans "Sign Up" %}</a>
		    </li>
        	<li class="block-list-item">
        		<a href="{% url 'account_login' %}"><i class="glyphicon glyphicon-log-in"></i> {% trans "Log In" %}</a>
        	</li>
		{% endif %}
	</ul>
</div>
{% if request.user.is_authenticated and request.user.is_staff %}
<div class="block-list">
	<div class="block-list-header">{% trans 'Register'%}</div>
	<ul class="block-list-list">
		<li class="block-list-item">
		 	<a href="{% url 'registers:list' %}"><i class="glyphicon glyphicon-stats"></i> {% trans 'Advice list' %}</a>
		</li>
	</ul>
</div>
{% endif %}
{% if request.user.is_authenticated %}
<div class="block-list">
	<div class="block-list-header">{% trans 'Files'%}</div>
	<ul class="block-list-list">
		<li class="block-list-item"><a href="{% url 'letters:add' %}"><i class="glyphicon glyphicon-pencil"></i> {% trans 'New case'%}</a></li>
		{% if perms.cases.can_assign %}
		<li class="block-list-item">
		 	<a href="{% url 'registers:list' %}?status=free"><i class="glyphicon glyphicon-question-sign"></i> {% trans 'Free cases'%}</a>
		</li>
		{% endif%}

	</ul>
</div>
{% endif %}

