{%load i18n%}
<div class="sidebar-header">
	<a href="#">
		<div class="logo"></div>
		<p>Poradnia</p>
	</a>
</div>
{% comment %}
<div class="stats">
	<ul>
		{# 		{% notifications_unread as unread_count%} #}
		{% url 'notifications:all' as notification_all_url %}
		<li><a href="{{notification_all_url}}"><div class="icon"><i class="fa fa-trophy"></i></div><div class="text">{{unread_count}}</div></a></li>
		<li><a href=""><div class="icon"><i class="fa fa-envelope"></i></div><div class="text">2</div></a></li>
	</ul>
</div>
{% endcomment %}
<div class="block-list">
	<ul class="block-list-list">
		<li class="block-list-item">
			<a href="/"><i class="glyphicon glyphicon-home"></i> Home</a>
		</li>
	</ul>
</div>
{% include 'users/_sidebar.html' %}
{% include 'registers/_sidebar.html' %}
{% include 'cases/_sidebar.html' %}
