<p><span class="badge text-bg-primary">{{ title }}</span>
    {% if object_list %}
        {% for object in object_list %}
            {% if object.get_absolute_url %}
                <a href="{{ object.get_absolute_url }}" class="badge text-bg-success">{{ object }}</a>
            {% else %}
                <span class="badge text-bg-info">{{ object }}</span>
            {% endif %}
        {% endfor %}
    {% else %}
        <span class="badge text-bg-warning">No {{ title }} for object</span>
    {% endif %}
</p>
