{% load staticfiles i18n tinycontent_tags github_revision_tags poradnia_tags %}
<!DOCTYPE html>
<html lang="pl  ">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Poradnia{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Poradnia App">
    <meta name="author" content="Sieć Obywatelska - Watchdog Polska">
    <meta name="theme-color" content="#D82727">
    <link rel="apple-touch-icon" sizes="160x128" href="/static/images/logo-160x128.png">
    <link rel="shortcut icon" type="image/png" href="/static/images/favicon-32x26.png" sizes="32x32">
    <link rel="manifest" href="/static/images/manifest.json">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/static/images/logo-160x128.png">
    <meta property="og:image" content="/static/images/logo-czerwone-tlo-1200x600.jpg" />
    <meta property="og:image:type" content="image/jpg" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="600" />

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
  <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
    <link rel="stylesheet" href="{% static 'tasty_feedback/style.css' %}">

    {% if debug %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% else %}
        <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
    {% endif %}
    {% block extra_css %}{% endblock %}
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-71083051-7', 'auto');
        ga('send', 'pageview');
    </script>
</head>

<body>

<!-- Moved to beginning to load JQueary before any other js code  -->
{% if debug %}
    <script src="{% static 'js/script.js' %}"></script>
{% else %}
    <script src="{% static 'js/script.min.js' %}"></script>
{% endif %}

{% show_donate_popup as show_donate_popup_flag %}
{% if show_donate_popup_flag %}
    {% include 'donate_popup.html' %}
{% endif %}

<nav class="navbar navbar-default navbar-fixedtop">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="body">
                <span class="sr-only">Toggle navigation</span>
                <i class="navbar-burger"></i>
            </button>
            <a class="navbar-brand" href="#">Poradnia</a>
        </div>
    </div>
</nav>
<!-- app_main_style tag used to differentiate dev, demo and production environments -->
{% app_main_style %}
{# <div class="main" style="background-color: #60e20040;"> #}
    <div class="sidebar">
        {% include '_sidebar.html' %}
    </div>
    <div class="main-side">
        <div class="content">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert {% if message.tags %}alert-{{ message.tags }}"{% endif %}>{{ message }}</div>
                {% endfor %}
            {% endif %}
            {% block breadcrumbs %}{% endblock %}
            <div class="container-fluid">
                {% block content %}
                    <p>Use this document as a way to quick start any new project.</p>
                {% endblock content %}
            </div>
            <div class="footer">
                <div class="footer-right">Sieć Obywatelska - Watchdog Polska<br>
                    ul. Ursynowska 22/2<br>
                    02-605 Warszawa
                </div>
                <div class="footer-left">
                    silnik: <a href="http://jawne.info.pl">jawne.info.pl</a> |
                    v{% poradnia_version %} |
                    <a href="https://github.com/watchdogpolska/poradnia">
                        <i class="fa fa-github"></i> GitHub</a> - {% github_link %}
                </div>
                <div class="footer-center">Strona wykorzystuje cookies</div>
            </div>
            <div class="footer">
                    <div class="footer-center col-xs-12 col-md-6 col-md-push-3 col-lg-4 col-lg-push-4">
                        {% tinycontent 'sponsors_note' %}
                            <img src="{% static 'images/baner.png' %}" alt="" class="img-responsive"><br>
                            Poradnia przygotowana została dzięki wsparciu programu Obywatele dla Demokracji,
                            finansowanego z Funduszy EOG.<br>
                        {% endtinycontent %}
                    </div>
            </div>
        </div>
    </div>
    {% if user.is_authenticated and user.has_verified_email %}
        {% load tasty_feedback_tags %}
        {% tasty_feedback_widget %}
    {% endif %}

</div>
{% if user.is_authenticated %}
    {% include '_modal.html' %}
{% endif %}

{% block modal %}
{% endblock modal %}

<!-- Le javascript
  ================================================== -->
<!-- Rest of js placed at the end of the document so the pages load faster -->

{% if show_donate_popup_flag %}
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="{% static 'js/donate_popup.js' %}"></script>
{% endif %}

{% block javascript %}
{% endblock %}
</body>
</html>

