{% load staticfiles i18n tinycontent_tags %}
<!DOCTYPE html>
<html lang="en" ng-app>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Poradnia{% endblock title %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="theme-color" content="#D82727">
  <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-TileImage" content="/mstile-144x144.png">
  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
  <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <link rel="stylesheet" href="{% static 'tasty_feedback/style.css' %}">

{% if debug %}
  <link rel="stylesheet" href="{% static 'css/style.css'%}">
{% else %}
  <link rel="stylesheet" href="{% static 'css/style.min.css'%}">
{% endif %}
{% block extra_css %}{%endblock%} {# TODO: Remove it #}
</head>

<body>

  <nav class="navbar navbar-default navbar-fixedtop">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="body">
          <span class="sr-only">Toggle navigation</span>
          <i class="navbar-burger"></i>
        </button>
        <a class="navbar-brand" href="#">Poradnia</a>
      </div>
    </div>
  </nav>
  <div class="main">
    <div class="sidebar">
      {% include '_sidebar.html'%}
    </div>
    <div class="main-side">
      <div class="content">
        {% if messages %}
        {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}"{% endif %}>{{ message }}</div>
        {% endfor %}
        {% endif %}
        {% block breadcrumbs %}{% endblock %}
        <div>
          {% block content %}
          <p>Use this document as a way to quick start any new project.</p>
          {% endblock content %}
        </div>
          <div class="footer">
            {% tinycontent 'footer' %}
            <div class="footer-right">Sieć Obywatelska - Watchdog Polska</div>
            <div class="footer-left">
              silnik: <a href="http://jawne.info.pl">jawne.info.pl</a> |
              <a href="https://github.com/watchdogpolska/poradnia"><i class="fa fa-github"></i> Github</a>
            </div>
            <div class="footer-center">Strona wykorzystuje cookies</div>
            {% endtinycontent %}
          </div>
        </div>
    </div>
    {% load tasty_feedback_tags %}
    {% tasty_feedback_widget %}

  </div>
{% if user.is_authenticated %}
    {% include '_modal.html' %}
{% endif %}

{% block modal %}
{% endblock modal %}

<!-- Le javascript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  {% if debug %}
    <script src="{% static 'js/script.js' %}"></script>
  {% else %}
    <script src="{% static 'js/script.min.js' %}"></script>
  {% endif %}
  {% block javascript %}
  {% include 'autocomplete_light/static.html' %}
  {% if user.is_authenticated %}
      {% include 'navsearch/script.html' %}
  {% endif %}
  <script src="{% static 'tasty_feedback/style.js' %}"></script>
  {% endblock javascript %}
</body>
</html>

