{% load tinycontent_tags %}

<style>
#alt-popup-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 60px;
    color: white;
    background-color: #f93434;
    border: 1px solid #000000;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
    z-index: 1001;
    white-space: nowrap;
    text-align: center;
    border-radius: 10px;
}
#alt-popup-container a {
    color: white;
    text-decoration: underline;
}
#alt-popup-container button {
    color: white;
    background-color: #ad1a1a;
    border: 2px solid white;
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: bold;
}
#alt-popup-container h2 {
    margin-bottom: 20px;
}
#alt-popup-container h3 {
    margin-top: 15px;
    margin-bottom: 15px;
}
</style>

<div id="alt-popup-container">
    {% tinycontent 'donate_popup_alternative:message' %}
        <h2>Wesprzyj naszą działalność!</h2>
        <h4>Wesprzyj działanie naszej poradni dobrowolną darowizną,<br>
            którą wykorzystamy na rzecz ochrony prawa do informacji.</h4>
        <h3><a href="https://siecobywatelska.pl/wspieraj" target="_blank">Przekaż darowiznę</a></h3>
        <h4>Każda kwota ma znaczenie!</h4>
    {% endtinycontent %}
    <!-- Add any other content or buttons as needed -->
    <p>&nbsp;</p>
    <!-- <input type="checkbox" id="altAlreadyDonated" name="altAlreadyDonated" value="donated">
    <label for="altAlreadyDonated">Już przekazałem/am</label> -->
    <p>&nbsp;</p>
    <button class="btn btn-primary" id="alt-donate-button" onclick="closeAltPopup()">Zamknij</button>
</div>