{% load staticfiles i18n %}
<svg class="chart"></svg>
<script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
{% if LANGUAGE_CODE == "pl" %}
    <script src="{% static 'locale/pl.js' %}" charset="utf-8"></script>
{% else %}
    <script src="{% static 'locale/en.js' %}" charset="utf-8"></script>
{% endif %}
<script src="{% static 'stats/d3-legend.js' %}" charset="utf-8"></script>
<script src="{% static 'stats/d3-extra.js' %}" charset="utf-8"></script>
{% block js %}
{% endblock %}
<link rel="stylesheet" href="{% static 'stats/style.css' %}">
