table.month {
    table-layout: fixed;
    width: 100%;
    td, th {
        border: 1px solid #AAA;
        width: 14.28%;
        vertical-align: top;
        padding: 3px;
    }
    td ul {
        list-style: none;
        padding: 0;
        font-size: .85em;
    }
    td li:nth-child(2n) {
        background: #DDD;
    }
    .day {
        display: block;
        text-align: right;
    }
    > tr:nth-child(2) > th {
        width: 14.28%;
    }
    li.deadline {
        background-color: #EEAEAE;
    }
}
