.form-actions{
	background: #F5F5F5;
	padding: $padding-base-horizontal $padding-base-vertical;
	text-align: right;
	&:last-child{
		border-bottom-left-radius: $border-radius-base;
		border-bottom-right-radius: $border-radius-base;
	}
	&:first-child{
		border-top-left-radius: $border-radius-base;
		border-top-right-radius: $border-radius-base;
	}
}

.login-form{
	@include center-block;
	width: 400px;
}

.registration-form{
	@include center-block;
	width: 500px;
}
