.main{
	@include clearfix;
}
.main-side{
	@media(min-width: $grid-float-breakpoint) {
		margin-left: 200px;
	};
}
.navbar{
	position: fixed;
	width: 100%;
	z-index: $zindex-navbar;
	@media(min-width: $grid-float-breakpoint) {
		display: none;
	}
}
.content{
	max-width: 960px;
	width: 90%;
	margin: 6em auto;
	@media(min-width: $screen-sm-min) {
		margin-top: 1em;
	}
}

.footer{
	@include clearfix;
	padding: 12px 6px;
	margin: 12px 0;
	border-top: 1px solid #F5F5F5;
	color: #888;
	font-size: 10px;
	&-right{
		float: left;
	}
	&-left{
		float: right;
	}
	&-center{
		text-align: center;
	}
}
