$block-list-item-hover-bg: lighten($brand-primary, 10%) !default;
$block-list-item-selected-bg: darken($brand-primary, 10%) !default;

$block-list-item-padding-vertical: 0em !default;
$block-list-item-padding-horizontal: 1em !default;

$block-list-link-color: white !default;
$block-list-link-padding-vertical: .5em !default;
$block-list-link-padding-horizontal: .5em !default;

$block-list-header-padding-vertical: $block-list-link-padding-vertical;
$block-list-header-padding-horizontal: $block-list-link-padding-horizontal;
$block-list-inidicator-width: .4em !default;
$block-list-inidicator-color: $block-list-link-color !default;

.block-list{
	&-header{
		font-size: .8em;
		text-transform: uppercase;
		padding: $block-list-item-padding-vertical $block-list-item-padding-horizontal;
		color: $block-list-link-color;
		margin-top: .5em;
	}
	&-list{
		padding: 0;
		list-style: none;
		margin-bottom: .5em;
	}
	&-item{
		display: block;
		transition: .4s background-color;
		padding: $block-list-item-padding-vertical $block-list-item-padding-horizontal;
		> a {
			display: block;
			color: $block-list-link-color;
			padding: $block-list-link-padding-vertical $block-list-link-padding-horizontal;
			font-style: none;
			text-decoration: none;
			> .fa, .glyphicon{
				margin-right: 0.5em;
			}
		}
		&:hover{
			background: $block-list-item-hover-bg;
		}
		&.is-selected{
			background: $block-list-item-selected-bg;
			border-left: $block-list-inidicator-width solid $block-list-inidicator-color;
			padding-left: #{ $block-list-item-padding-horizontal - $block-list-inidicator-width };
		}
	}
}

.stats{
	>ul {
		display: flex;
		padding: 0;
		margin: 0;
		> li{
			flex: 1;
			color: white;
			list-style: none;
		}
		&:last-child{
			border-right: none;
		}
	}
	a{
		height: 100%;
		text-align: center;
		display: block;
		padding: $block-list-link-padding-vertical $block-list-link-padding-horizontal;
		transition: .4s background-color;
		&, &:hover, &:focus{
			color: white;
			text-decoration: none;
		}
		&:hover{
			background: $block-list-item-hover-bg;

		}
	}
}
.sidebar{
	background: $brand-primary;
	transition: 2s;
	height: 100%;
	overflow-y: auto;
	position: fixed;
	z-index: #{ $zindex-navbar - 1};
	width: 90%;
	transform: translateX(-100%);
	transition: 0.5s;
	top: $navbar-height;
	@media(min-width: $grid-float-breakpoint) {
		/* height: auto; */
		position: static;
		width: auto;
		display: block;
		transform: none;
	}
	body.show-sidebar &{
		transform: none;
	}
	&-header{
		padding: 1em;
		text-align: center;
		a, a:focus, a:hover{
			color: white;
		}
	}
}
