@import "base";

@import "layout";
@import "cards";
@import "sidebar";
@import "case";
@import "cases";
@import "timeline";
@import "forms";
@import "calendar";
@import "keys";
@import "page-home";



.logo{
	display: inline-block;
	width: 160px;
	height: 160px;
	background: url("../images/logo.png") no-repeat center center
}

.h1.success{
    background-color: #DFF0D8;
}

.list-group__elastic{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .list-group-item {
            margin-bottom: 10px;
    }
}
.panel-body {
    position:relative;
}
.panel-status {
    position: absolute;
    right: 15px;
    top: 15px;
    opacity: 0.5;
}
.label {
    margin-right: 2px;
    margin-left: 2px;
}
