@import "base";

@import "layout";
@import "cards";
@import "sidebar";
@import "case";
@import "timeline";
@import "forms";
@import "calendar";
@import "keys";



.logo{
	display: inline-block;
	width: 160px;
	height: 160px;
	background: url("../images/logo.png") no-repeat center center
}

