{% load guardian_tags crispy_forms_tags humanize users_tags i18n %}
<div class="timeline-messange">
    <a href="#"><img src="{% get_avatar_url object.created_by %}" class="timeline-avatar"></a>
    <div class="panel {{ object.created_by.is_staff|yesno:'panel-default,panel-primary' }}  timeline-comment">
        <div class="panel-heading">
            <i class="fa fa-gavel"></i> {{ object }}
        </div>
        <table class="table">
            <tr>
                <td>{% trans 'Court' %}</td>
                <td>{{ object.court }}</td>
            </tr>
            <tr>
                <td>{% trans 'Court signature' %}</td>
                <td>{{ object.signature }}</td>
            </tr>
        </table>
        <div class="panel-footer">
            <i class="fa fa-user"></i> {{ object.created_by }} &bull;
            <i class="fa fa-clock"></i>
            <time datetime="{{ object.created_on }}"
                  title="{{ object.created_on }}">{{ object.created_on | naturaltime }}</time>
            {% if object.modified_by %}(updated on
                <time datetime="{{ object.created_on }}"
                      title="{{ object.modified_on }}">{{ object.modified_on | naturaltime }}</time> by
                {{ object.modified_by }}){% endif %}
            {% if "can_change_all_record" in case_perms or requests.user == object.user and "can_change_own_record" in case_perms %}
                &bull; <i class="fa fa-pencil"></i>
                <a href="{% url 'judgements:update' pk=object.pk %}">{% trans 'Edit' %}</a>
            {% endif %}
        </div>
    </div>
</div>
