<p>Szanowny/-a Użytkowniku!</p>

<p>Ktoś (być może Ty) spróbował założyć nowe konto w serwisie poradnictwa Stowarzyszenia Sieć Obywatelska - Watchdog Polska, używając adresu e-mail {{ email }}. Konto powiązane z tym adresem już jednak istnieje.</p>

<p>Jeśli to Ty próbowałeś/-aś się zarejestrować i nie pamiętasz hasła, możesz je zresetować, korzystając z poniższego linku: <a href="{{ password_reset_url }}">{{ password_reset_url }}</a></p>

<p>Jeśli to nie Ty, możesz zignorować tę wiadomość - nowe konto nie zostało założone.</p>

<p>
Z wyrazami szacunku,<br>
Sieć Obywatelska - Watchdog Polska<br>
</p>

{% include '_email_signature.html' %}
