<p>Szanowny/-a {{ user }}!</p>

<p>Otrzymujesz tę wiadomość, ponieważ Ty lub ktoś inny poprosił/-a o zresetowanie hasła do Twojego konta w serwisie poradnictwa Stowarzyszenia Sieć Obywatelska - Watchdog Polska.</p>

<p>Jeśli to nie Ty zgłaszałeś/-aś taką prośbę, zignoruj tę wiadomość - hasło pozostanie bez zmian.</p>

<p>Aby ustawić nowe hasło, kliknij w poniższy link: <a href="{{ password_reset_url }}">{{ password_reset_url }}</a></p>

{% if username %}<p>Twoja nazwa użytkownika: {{ username }}</p>{% endif %}

<p>
Z wyrazami szacunku,<br>
Sieć Obywatelska - Watchdog Polska<br>
</p>
