<p>Szanowny/-a Użytkowniku!</p>

<p>Ktoś (być może Ty) spróbował skorzystać z tego adresu e-mail ({{ email }}) w serwisie poradnictwa Stowarzyszenia Sieć Obywatelska - Watchdog Polska, np. resetując hasło. Nie znaleźliśmy jednak konta powiązanego z tym adresem.</p>

<p>Jeśli to nie Ty, możesz bezpiecznie zignorować tę wiadomość.</p>

<p>Jeśli to Ty i chcesz założyć konto, skorzystaj z poniższego linku: <a href="{{ signup_url }}">{{ signup_url }}</a></p>

<p>
Z wyrazami szacunku,<br>
Sieć Obywatelska - Watchdog Polska<br>
</p>
