{% extends "base.html" %}

{% block content %}
<h2>Pomagamy każdemu korzystać z prawa</h2>
<h3>Kim jesteśmy?</h3>
<p>Sieć Obywatelska Watchdog Polska to niezależna, apolityczna i niedochodowa organizacja pożytku publicznego o charakterze organizacji strażniczej i think-do-thanku.</p>
<p>Od 12 lat działamy w Polsce na rzecz jawności życia publicznego, dobrego rządzenia i rozliczalności władz.</p>
<p>Stoimy na straży prawa do informacji. Postrzegamy je nie tylko jako warunek dobrego państwa, ale przede wszystkim jako jedno z praw człowieka, które chroni ludzką godność, daje wolność wyrażania opinii i bezpieczeństwo przed nadużyciami władzy.</p>
<p>Wzmacniamy w obywatelach poczucie, że mają prawo dowiadywać się, jak funkcjonują władze oraz instytucje publiczne, a także wpływać na podejmowane przez nie decyzje i sposób gospodarowania publicznym majątkiem (m. in. pieniędzmi z podatków). Uczymy, jak to zrobić skutecznie. W sytuacjach, gdy urzędy nie szanują praw obywateli, udzielamy pomocy prawnej.</p>
<p>Przez lata zdobyliśmy rzetelną wiedzę na temat dostępu do informacji publicznej, kontroli obywatelskiej oraz współdecydowania o sprawach publicznych. Udzielając porad prawnych, mieliśmy okazję poznać bliżej tysiące konkretnych spraw, w kilkuset uczestniczyliśmy na etapie postępowania sądowego (znaczną część wygrywając).</p>
<h3>Pomoc prawna</h3>
<p>Udzielamy ponad 1000 konsultacji prawnych rocznie. Aby jeszcze sprawniej pomagać, stworzyliśmy stronę, na której w tej chwili się znajdujesz.</p>

{% if request.user.is_anonymous %}
<p>Jeżeli kontaktujesz się z nami pierwszy raz - skorzystaj z <a href="{% url 'letters:add' %}">formularza dla nowej sprawy</a>. Wiadomość zostanie dokładnie przekazana do naszego zespołu prawnego. Konto użytkownika zostanie utworzone automatycznie - dane do logowania otrzymasz w zwrotnej wiadomości e-mail.</p>

<p>Jeżeli już korzystałeś/korzystałaś z naszej pomocy - <a href="{% url 'account_login' %}">zaloguj się</a>, aby mieć dostęp do informacji o stanie Twojej sprawy. </p>
{% else %}
<p>Aby zostać obsłużonym w sposób sprawny skorzystaj z <a href="{% url 'letters:add' %}">formularza dla nowej sprawy</a>. Jeżeli chcesz odwołać się do wcześniejszej sprawy - skorzystaj z <a href="{% url 'cases:list' %}">wykazu spraw</a>. </p>
{% endif %}
{% endblock %}
