{% load guardian_tags crispy_forms_tags humanize users_tags i18n %}
<div class="timeline-messange">
    <a href="#"><img src="{% get_avatar_url object.created_by %}" class="timeline-avatar"></a>
    <div class="panel {{ object.created_by.is_staff|yesno:'panel-default,panel-primary' }}  timeline-comment" id="event-{{object.pk}}">
        <div class="panel-heading">
            <h2 class="panel-title">
                <a href="#event-{{object.pk}}">
                    <i class="far fa-{{ object.deadline|yesno:'fire,calendar' }}"></i> {{ object }}
                </a>
            </h2>
        </div>
        <table class="table">
            <tr>
                <td>{% trans 'Dead-line' %}</td>
                <td>{{ object.deadline|yesno:_("Yes,No") }}</td>
            </tr>
            <tr>
                <td>{% trans 'Completed (no more reminders)' %}</td>
                <td>{{ object.completed|yesno:_("Yes,No") }}</td>
            </tr>
            <tr>
                <td>{% trans 'Public (visible to customers)' %}</td>
                <td>{{ object.public|yesno:_("Yes,No") }}</td>
            </tr>
            <tr>
                <td>{% trans 'Time' %}</td>
                <td><a href="{{ object.get_calendar_url }}">{{ object.time }}</a></td>
            </tr>
            <tr>
                <td>{% trans 'Notified' %}</td>
                <td>
                    {% if object.reminder_set.all %}
                        <ul>
                            {% for reminder in object.reminder_set.all %}
                                <li>
                                    <a href="{{ reminder.user.get_absolute_url }}">{{ reminder.user }}</a>
                                    -
                                    <time datetime="{{ reminder.created_on }}" title="{{ reminder.created_on }}">
                                        {{ reminder.created_on | naturaltime }}
                                    </time>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        {% trans 'Nobody yet.' %}
                    {% endif %}
                </td>

            </tr>
        </table>
        <div class="panel-body">
            <p>{{ object.text | linebreaks }}</p>
        </div>
        <div class="panel-footer">
            <i class="fas fa-user"></i> {{ object.created_by }} &bull;
            <i class="far fa-clock"></i>
            <time datetime="{{ object.created_on }}"
                  title="{{ object.created_on }}">{{ object.created_on | naturaltime }}</time>
            {% if object.modified_by %}(updated on
                <time datetime="{{ object.created_on }}"
                      title="{{ object.modified_on }}">{{ object.modified_on | naturaltime }}</time> by
                {{ object.modified_by }}){% endif %}
            {% if "can_change_all_record" in case_perms or requests.user == object.user and "can_change_own_record" in case_perms %}
                &bull; <i class="fas fa-pencil"></i>
                <a href="{{ object.get_edit_url }}">{% trans 'Edit' %}</a>{% endif %}
        </div>
    </div>
</div>
