{%extends 'events/base.html' %}
{% block breadcrumbs_rows %}
<li class="active">{{ month|date:"F Y" }}</li>
{% endblock %}

{% block title %}{{ month|date:"F Y" }} - {{block.super}}{% endblock %}

{% block content %}

{{calendar}}

<nav>
    <ul class="pager">
    {% if previous_month %}
        <li><a href="{% url 'events:calendar' year=previous_month.year month=previous_month.month %}">{{ previous_month|date:"F Y" }}</a></li>
    {% endif %}
    <li>{{month|date:"F Y"}}</li>
    {% if next_month %}
        <li><a href="{% url 'events:calendar' year=next_month.year month=next_month.month %}">{{ next_month|date:"F Y" }}</a></li>
    {% endif %}
    </ul>
</nav>
{% endblock %}
