{% load i18n %}
<div class="block-list">
    <div class="block-list-header">{% trans 'User' %}</div>
    <ul class="block-list-list">

        {% if request.user.is_authenticated %}
            <li class="block-list-item">
                <a href="{% url 'users:detail' username=request.user.username %}"><i class="fas fa-user"></i>
                    {% blocktrans with request.user as user %}{{ user }}{% endblocktrans %}</a>
            </li>
            {% if request.user.is_staff %}
                <li class="block-list-item">
                    <a href="{% url 'users:list' %}"><i class="fas fa-users"></i> {% trans "Users list" %}</a>
                </li>
            {% endif %}
            {% if request.user.is_superuser %}
                <li class="block-list-item">
                    <a href="{% url 'admin:index' %}"><i class="fas fa-gear"></i> {% trans "App admin" %}</a>
                </li>                
            {% endif %}
            <li class="block-list-item">
                <a href="{% url 'account_logout' %}"><i class="fa-solid fa-right-from-bracket"></i> {% trans "Logout" %}</a>
            </li>
        {% else %}
            <li class="block-list-item">
                <a href="{% url 'account_signup' %}"><i class="fas fa-user"></i> {% trans "Sign Up" %}</a>
            </li>
            <li class="block-list-item">
                <a href="{% url 'account_login' %}"><i class="fa-solid fa-right-to-bracket"></i> {% trans "Log In" %}</a>
            </li>
        {% endif %}
    </ul>
</div>
