{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Wyślij nowy link aktywacyjny" %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-1">
            <h2>{% trans "Wyślij nowy link aktywacyjny" %}</h2>
            <p>{% trans "Poprzedni link aktywacyjny stracił ważność. Potwierdź, że nie jesteś robotem, aby otrzymać nowy." %}</p>
            {% csrf_token %}
            {% crispy form %}
        </div>
    </div>
{% endblock %}
