{% extends "users/base.html" %}
{% load crispy_forms_tags i18n %}

{% block title %}{% trans 'User'%}: {{ user.username }} - {{block.super}}{% endblock %}

{% block breadcrumbs_rows%}
    <li><a href="{{user.get_absolute_url}}">{{user}}</a></li>
    <li class="active">{% trans 'Account' %}</li>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-lg-12">
        <h1>{% block header %}{% trans 'User' %}: {{ user.get_nicename }}{% endblock %}</h1>
        <form class="form-horizontal" method="post">
            {% csrf_token %}
            {% crispy form %}
        </form>
    </div>
</div>
{% endblock %}
