{% extends "users/base.html" %}
{% load users_tags static i18n %}
{% block title %}{% trans 'User' %}: {{ object.get_nicename }} - {{ block.super }}{% endblock %}

{% block breadcrumbs_rows %}
    <li class="breadcrumb-item active" aria-current="page">{{ object }}</li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-8 col-md-10 col-sm-12 col-12 offset-lg-2 offset-md-1">
        <img src="{% get_avatar_url object %}">
        <h3><b>{% trans 'Username' %}:</b> {{ object.username }} &nbsp; &nbsp; &nbsp;
            <b>{% trans 'Full name' %}:</b> {{ object.nicename }}</h3>
        {% if object.is_staff %}
            <p>{% trans 'Is member of staff.' %}</p>
        {% endif %}
        {% if object.profile %}
            <p><span><b>{% trans 'Description' %}:</b></span><br>
                {{ object.profile.description|linebreaksbr }}</p>
        {% endif %}

    </div>
</div>

{% endblock content %}
