{% extends "users/base.html" %}
{% load crispy_forms_tags i18n %}

{% block title %}{% trans 'User' %}: {{ user.username }} - {{ block.super }}{% endblock %}

{% block breadcrumbs_rows %}
    <li class="breadcrumb-item"><a href="{{ user.get_absolute_url }}">{{ user }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{% trans 'Account' %}</li>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-8 col-md-10 col-sm-12 col-12 offset-lg-2 offset-md-1">
            <h1>{% block header %}{% trans 'User' %}: {{ user.get_nicename }}{% endblock %}</h1>
            {% block form %}
            <form enctype="multipart/form-data" class="form-horizontal" method="post">
                {% csrf_token %}
                {% crispy form %}
            </form>
            {% endblock %}
        </div>
    </div>
{% endblock %}
