{% extends "users/base.html" %}
{% load static i18n avatar_tags %}

{% block title %}{% trans 'Users index'%}{% endblock %}

{% block breadcrumbs_rows%}
    <li class="active">{% trans 'Users index'%}</li>
{% endblock %}

{% block extra_css%}
<style>
.staff {
    background-color: #FF7474;
}
</style>
{%endblock%}
{% block content %}

<div class="container">
    
  <div class="row">
    <div class="col-xs-12">
      <h2>{% trans 'Users'%}</h2>
    </div>
  </div>
  <p>{% trans "You don't have access to data of all our users. Mostly you have access to staff and own profile." %}</p> 
  <div class="row">
    <div class="col-lg-12">
      <div class="list-group">
          {% for user in user_list %}
            <a href="{% url 'users:detail' user.username %}" class="list-group-item{%if user.is_staff%} staff{%endif%}">
              <h4 class="list-group-item-heading">{% avatar user %} {{ user.username }}</h4>
              {% if user.case_count %}
              <p class="list-group-item-text">Case count: {{ user.case_count }}</p>
              {% endif %}
            </a>
          {% endfor %}
        
      </div>
    </div>
  </div>

</div>

{% endblock content %}
