{% load url from future %}
<div class="alert alert-block alert-{{ notice.level }}">
  {% if notice.unread %}
  <a class="close pull-right" href="{% url 'notifications:mark_as_read' notice.slug %}">
    <i class="icon-close"></i>[MARK READ]
  </a>
  {% else %}
  <a class="close pull-right" href="{% url 'notifications:mark_as_unread' notice.slug %}">
    <i class="icon-close"></i>[MARK UNREAD]
  </a>
  {% endif %}
  <h4>
    <i class="icon-mail{% if notice.unread %}-alt{% endif %}"></i>
    <a href="{{notice.actor.get_absolute_url}}">{{ notice.actor }}</a>
    {{ notice.verb }}
    {{notice.target }}
    {% if notice.target %}
      of {{ notice.target_content_type }} <a href="{{notice.target_object.get_absolute_url}}">{{ notice.target }}</a>
    {% endif %}
  </h4>
  
  <p>{{ notice.timesince }} ago</p>
  {% if notice.description %}
  <p>{{ notice.description|linebreaksbr }}</p>
  {% endif %}
  <div class="notice-actions">
    {% for action in notice.data.actions %}
      <a class="btn" href="{{ action.href }}">{{ action.title }}</a>
    {% endfor %}
  </div>
</div>
